<div class="course">
    <h1>{{course.title}}</h1>
    <img class="course__img" src="{{course.image}}" alt="{{course.title}}">
    <div class="price big">{{course.price}}</div>
    <div>{{course.user.name}}</div>
</div>
